<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Menu</title>
    <link rel="icon" href="/imgs/burger-icon-colored.svg">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/lbs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>
</head>
<body class="wpd">
<div class="header">
    <div class="header-inner-wrapper">
        <div class="head">
            <div id="head1"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
            </div>
            <div class="inner-menu">
                <ul class="menu">
                    <li><a href="/"> HOME </a> </li>
                    <li><a href="/about"> ABOUT US </a> </li>
                    <li><a href="javascript:void(0)"> OUR MENU </a></li>
                    <li><a href="/cart"> CART </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mid">
    <div class="container">
        <div class="container-wrapper">
            <div class="page-title-wrapper col-md-12 col-xs-12 col-sm-12">
                <div class="page-title">
                    <h1>Our Menu</h1>
                    <h3>We have best burgers. Check our complete menu.</h3>
                </div>
            </div>
            <div id="container" class="col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="lable">
                        <!-- Nav tabs -->
                        <ul class="filter-tabs col-md-12 col-xs-12 col-sm-12">
                            <li><a href="javascript:void(0);" onclick="tabs(this,'all')" class="filter active">All</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'pizza')" class="filter">Pizza</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'burgers')" class="filter">Burgers</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'wraps')" class="filter">Wraps</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'fries')" class="filter">Fries</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'salad')" class="filter">Salad</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'spicefest')" class="filter">Spicefest</a></li>
                            <li><a href="javascript:void(0);" onclick="tabs(this,'beverages')" class="filter">Beverages</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <!-- Tab panes -->
                    <div>
                        <div class="tab-content">
                            <div id="all" class="tab active">
                                <div class="product  col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pizza" class="tab">
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="burgers" class="tab">
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="wraps" class="tab">
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/sandwich-with-eggs-and-ham525.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="fries" class="tab">
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="salad" class="tab">
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product col-xs-12 col-sm-6 col-md-3">
                                    <div class="box ">
                                        <img src="imgs/pizza3.jpg" title="pizza"/>

                                        <div class="lower-content">
                                            <h4>Chicken Burger</h4>
                                            <p>Our flavors & ingredients to
                                                build our local burgers.</p>
                                            <div class="price">$17.00</div>
                                            <div class="button-buy">
                                                <div class="box-button-buy">
                                                    <a href="/details" class="btn-style">ORDER NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="spicefest" class="tab">

                            </div>
                            <div id="beverages" class="tab">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="/JS/jquery.js"></script>
    <script type="text/javascript" src="/lbs/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        function tabs(e,idName) {
            var li = document.getElementsByClassName("filter");
            var content = document.getElementsByClassName("tab");
            for(var i of li){
                i.classList.remove("active");
            }
            for(var i of content){
                i.classList.remove("active");
            }
            e.classList.add("active");
            document.getElementById(idName).classList.add("active");
        }
    </script>
</body>
</html>