<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Details - MlemMlem burgers</title>
    <link rel="stylesheet" href="/lbs/fontawesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/product-details.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/imgs/burger-icon-colored.svg"/>

</head>
<body>
<div class="section">
    <!--    header-->
    <div class="header">
        <div class="section-header-top">

            <div class="container contain-img">

            </div>
        </div>

        <div class="section-header-bottom">
            <div class="container contain-list">
                <div class="background">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="about">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--detail-->
        <section id="body" class="detail-section">
            <div class="detail-container">
                <div class="detail">
                    <div class="colum-right">
                        <div class="img">
                            <a href="/imgs/sandwich-with-eggs-and-ham525.jpg" target="_blank" title="This is EGGS & HAM"><img src="imgs/sandwich-with-eggs-and-ham525.jpg"></a>
                        </div>
                    </div>
                    <div class="colum-left">
                        <div class="box-text">
                            <h2>EGGS & HAM</h2>
                            <div class="text">
                                Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia consequ untur
                                magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est,
                            </div>
                            <div class="price">
                                <p>Price: <span>$ 18,2</span></p>
                            </div>
                            <form action="#" method="get" class="quantity">
                                <label>Quantity : </label>
                                <div class="fix">
                                    <input type="number" name="quantity" min="0" max="10" required>
                                </div>
                                <div class="button" >
                                    <div class="box-button">
                                        <a href="/cart" class="btn">ADD TO CART</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--      button  tab -->
                <div class="tabs">
                    <div class="option-tabs">
                        <ul>
                            <li onclick="tabs(this,'tab1')" class="tab-button active">Descripton</li>
                            <li onclick="tabs(this,'tab2')" class="tab-button">Recipe</li>
                            <li onclick="tabs(this,'tab3')" class="tab-button">Review (4)</li>
                            <li onclick="tabs(this,'tab4')" class="tab-button">Your comment</li>
                        </ul>
                    </div>

                    <div class="detail-tab">
                        <div id="tab1" class="detail-tabs active">
                            <p>
                                A hamburger (also burger for short) is a sandwich consisting of one or more
                                cooked patties of ground meat, usually beef, placed inside a sliced bread roll
                                or bun. The patty may be pan fried, grilled, smoked[1] or flame broiled.
                                Hamburgers are often served with cheese, lettuce, tomato, onion, pickles,
                                bacon, or chiles; condiments such as ketchup, mustard, mayonnaise, relish,
                                or a "special sauce", often a variation of Thousand Island dressing; and are
                                frequently placed on sesame seed buns. A hamburger topped with cheese is called
                                a cheeseburger.[2]
                            </p>
                        </div>
                        <div id="tab2" class="detail-tabs">
                            <p>
                                Lightly oil grill& heat BBQ to medium. <br>
                                Whisk egg in a bowl& add next 6 ingredients.<br>
                                Add any of the “stir-ins” that appeal to you.<br>
                                Crumble in beef& using your hands or a fork, gently mix together.<br>
                                Handle the meat as little as possible – the more you work it, the tougher it gets.<br>
                                Gently shape (don’t firmly press) mixture into burgers about ¾ inch thick.<br>
                                Using your thumb, make a shallow depression in the centre of each burger to prevent puffing up during cooking.<br>
                                Place burgers on the grill, close lid& BBQ until NO LONGER PINK INSIDE, turning once, about 6 – 8 minutes per side.<br>
                                An instant read thermometer should read 160F.<br>
                                Don't abuse your burgers by pressing with a spatula, pricking with a fork or turning frequently as precious juices will be lost!
                                Tuck into a warm crusty bun& add your favourite toppings.
                            </p>
                        </div>
                        <div id="tab3" class="detail-tabs">
                            <h2>4 Reviews For win Your Friends</h2>
                            <div class="comment">
                                <div class="img">
                                    <img src="/imgs/download.jpg" height="60px"/>
                                </div>
                                <div class="text-comment">
                                    <div class="box-comment">
                                        <h4>Barack Obama – Sep 17, 2016:</h4>
                                        <div class="icon-star">
                                            <i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>
                                            &ensp;<i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>
                                            &ensp;<i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Ngon như bún chả Việt Nam vậy. Tôi rất thích nó. Sau khi tôi hêt nhiệm kì, tôi  sẽ mở
                                        quán cháo lòng tiết canh, hột vịt lộn,... và không thể nào thiếu được Hamburger. Các
                                        bạn nhớ đến ủng hộ tôi nhé. Thank you!!!
                                    </p>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="img">
                                    <img src="/imgs/trump.jpg" height="60px"/>
                                </div>
                                <div class="text-comment">
                                    <div class="box-comment">
                                        <h4>Donald Trump – Aug 21, 2017:</h4>
                                        <div class="icon-star">
                                            <i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>&ensp;
                                            <i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Khi thấy Obama review thì tôi quyết định dùng thử
                                        không ngờ đúng như lời đồn. Tôi hi vọng Barack Obama mở tiệm cháo lòng
                                        sớm để tôi qua ủng hộ. À nhân tiện, tôi cũng mới mở quán bún chả, trong lúc chờ đợi
                                        quán cháo lòng Obama thì các bạn cứ đến với tôi. Có free trà đá nhé !!!
                                    </p>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="img">
                                    <img src="/imgs/putin2.jpg" height="60px"/>
                                </div>
                                <div class="text-comment">
                                    <div class="box-comment">
                                        <h4>Vladimir Vladimirovich Putin – Sep 17, 2017:</h4>
                                        <div class="icon-star">
                                            <i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>
                                            &ensp;<i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>
                                            &ensp;<i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Phải nói là cũng được nhưng không ra gì. Theo tôi thì nên làm chiếc bánh to gấp đôi
                                        mà gấp ba cũng được.
                                    </p>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="img">
                                    <img src="/imgs/kimjongun2.jpg" height="60px"/>
                                </div>
                                <div class="text-comment">
                                    <div class="box-comment">
                                        <h4>Kim Jong Un – May 21, 2019:</h4>
                                        <div class="icon-star">
                                            <i class="fas fa-star"></i>&ensp;<i class="fas fa-star"></i>&ensp;
                                        </div>
                                    </div>
                                    <p>Tôi đang trong lộ trình giảm cân nên không ăn được mấy đồ này. Tôi đánh giá vì nhìn
                                        bề ngoài trông không hấp dẫn lắm.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--    form input-->
                        <div id="tab4" class="detail-tabs tab">
                            <form action="#">
                                <div class="box-rating">
                                    <span>Your Rating:</span>
                                    <a href="#" class="a"><i class="fas fa-star"></i></a>
                                    <a href="#" class="a"><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    <a href="#" class="a"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    <a href="#" class="a"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    <a href="#" class="a a1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                </div>
                                <div class="box-name">
                                    <div class="first-name">
                                        <label> First Name *</label>
                                        <input type="text" name="first-name" class="input-first-name" required/>
                                    </div>
                                    <div class="last-name">
                                        <label>Last Name *</label>
                                        <input type="text" name="last-name" class="input-last-name"required />
                                    </div>
                                </div>
                                <div class="email">
                                    <label>Email *</label>
                                    <input type="email" name="email" class="email" required/>
                                </div>

                                <div class="comment">
                                    <label>Your Comment</label>
                                    <textarea style="height: 100px" name="comment"></textarea>
                                </div>

                                <div class="form-button">
                                    <a href="#" class="btn">SUBMIT NOW</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--similar products-->
        <section class="similar-section">
            <div class="similar-container">
                <div class="title">
                    <h1>Similar Products</h1>
                </div>
                <!--menu-->
                <div class="menu">
                    <div class="collum-left">
                        <div class="dish1">
                            <div class="box-dish">
                                <img src="/imgs/pizza3.jpg" title="pizza"/>
                                <div class="lower-content">
                                    <h4>Chicken Burger</h4>
                                    <p>Chicken, tomatoes, ham,
                                        pepperoni, cheese, onions.</p>
                                    <div class="price">$17.00</div>
                                    <div class="button-buy">
                                        <div class="box-button-buy">
                                            <a href="javascript:void(0)" class="effect">ORDER NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dish2">
                            <div class="box-dish">
                                <img src="/imgs/3.jpg" title="French fries"/>
                                <div class="lower-content">
                                    <h4>French fries</h4>
                                    <p>Potato, chese, ketchup,
                                        cooking oil</p>
                                    <div class="price">$17.00</div>
                                    <div class="button-buy">
                                        <div class="box-button-buy">
                                            <a href="#body" class="effect">ORDER NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collum-right">
                        <div class="dish3">
                            <div class="box-dish">
                                <img src="/imgs/burger525.jpg" title="burger"/>
                                <div class="lower-content">
                                    <h4>BURGER RETRO</h4>
                                    <p>Beef meat, onion, cheese,
                                        corn, tomatoes, bread, ketchup</p>
                                    <div class="price">$17.00</div>
                                    <div class="button-buy">
                                        <div class="box-button-buy">
                                            <a href="#body" class="effect">ORDER NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dish4">
                            <div class="box-dish">
                                <img src="/imgs/sandwich-with-veg-bacon525.jpg" title="SANDWICH TORTILLA"/>
                                <div class="lower-content">
                                    <h4>SANDWICH TORTILLA</h4>
                                    <p>Bread, salad, tomatoes, pineapple, bacon</p>
                                    <div class="price">$17.00</div>
                                    <div class="button-buy">
                                        <div class="box-button-buy">
                                            <a href="#body" class="effect">ORDER NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>

<script type="text/javascript">
    function tabs(e,idName) {
        var li = document.getElementsByClassName("tab-button");
        var content = document.getElementsByClassName("detail-tabs");
        for(var i of li){
            i.classList.remove("active");
        }
        for(var i of content){
            i.classList.remove("active");
        }
        e.classList.add("active");
        document.getElementById(idName).classList.add("active");
    }
</script>
</body>
</html>